body {
	margin: 0px;
	padding: 0x;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 14px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.header {
    text-align: center;
}
.header h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 100px;
}
.flexSection {
    display: flex;
    justify-content: center;
}

.box:nth-child(2) {
    text-align: center;
    width: 500px;
}

.box > div {
    width: 250px;
    display: inline-block;
}
.box button,
.box input {
    width: 100%;
    background-color: white;
    border: 1px solid DarkGray;
    padding: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.box button:first-child {
    margin-bottom: 15px;
}
.box button:hover {
    background-color: black;
    color: white;
}
.box .wordFilter {
    text-align: left;
    font-size: 18px;
}
.count {
    font-size: 18px;
}
.count:nth-child(2) {
    padding-top: 10px;
}
.quotes {
    padding-top: 50px;
}
.quotes h1 {
    font-size: 25px;
}

.quotes .quote,
.quotes .empty {
	display: flex;
	align-items: center;
	border: 1px solid #E2E2E2;
	padding: 0 15px;
	width: 400px;
	margin-bottom: 15px
}
.quotes .empty {
	justify-content: center;
	font-size: 20px;
	color: darkGray;
	border: none;
}
.quotes .quote p {
	font-size: 16px;
	flex-grow: 1;
}
.quotes .quote button {
	margin-left: 15px;
	padding: 5px 10px;
	background-color: transparent;
	border: 1px solid #E2E2E2;
}
.quotes .quote button:hover {
	border: 1px solid black;
}